extends layout

block content
  h1= title
  p 로그인 하세요.
  form(action='/users/login' method='post')
    p
        input(type="text" name="username")
    p
        input(type="text" name='password')
    p
        input(type="submit" value="전송")